# CONFIG_FINGERPRINT_FPC1268_TEE is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FORCE is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C_FORCE is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_FORCE is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_FORCE is not set
